@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');

:root{
  /*Paleta de Colores*/
  --Color1:#23252e;
  --Color2:#d85f1b;
  --Color3:#aec1ad;
  --Color4:#edeadf;
  --Color5:#827a34;

  /*Fuente*/
  --font-Inconsolata:'Inconsolata', monospace;
}
