@use './base/base';

.nav{
  display: flex;
  flex-direction: row;
  .nav-container{
    position:fixed;
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  z-index: 1000;
  background-color: var(--Color1);
  >ul{
    margin-right: 4em;
    width: calc(50vw - 4em);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    >li{
      width: auto;
      height: 100%;
      list-style: none;
      display: grid;
      place-content: center;
      >a::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #edeadf;
          bottom: 0px;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform .2s ease-in-out;
        }
      >a:hover::before{
        transform: scaleX(1);
        transform-origin: left;
      }
      >a{
        width: auto;
        padding: 5px;
        position: relative;
        text-decoration: none;
        color: #edeadf;
        font-family: var(--font-Inconsolata);
        font-weight: 600;
        transform: translateX(0px);
        transition: transform,color .2s ease-in-out;
      }
      >a:hover{
        transform: translateX(0px);
        color: #edeadf;
      }

      
    }
  }
  .menu-boton{
    display: none;
    padding: 1em;
    >i{
      font-size: 1.5em;
      color: var(--Color4);
      cursor: pointer;
    }
  }
  }
  .nav-despl{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1500;
  background-color: var(--Color1);
  >ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
    >li{
      list-style: none;
      >a{
        position: relative;
        text-decoration: none;
        color: #edeadf;
        font-family: var(--font-Inconsolata);
        font-weight: 600;
        font-size: 1.5em;
      }

      >a:hover{
        text-decoration:underline;
        color: var(--Color4);
      }
    }
  }
  }
  
}


@media screen and (min-width: 768px) and (max-width: 1023px){
  .nav{
    .nav-container{
      position:fixed;
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    z-index: 1000;
    background-color: var(--Color1);
    >ul{
      margin-right: 4em;
      width: calc(50vw - 4em);
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      >li{
        width: auto;
        height: 100%;
        list-style: none;
        display: grid;
        place-content: center;
        >a::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #edeadf;
            bottom: 0px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .2s ease-in-out;
          }
        >a:hover::before{
          transform: scaleX(1);
          transform-origin: left;
        }
        >a{
          width: auto;
          padding: 5px;
          position: relative;
          text-decoration: none;
          color: #edeadf;
          font-family: var(--font-Inconsolata);
          font-size: 14px;
          font-weight: 600;
          transform: translateX(0px);
          transition: transform,color .2s ease-in-out;
        }
        >a:hover{
          transform: translateX(0px);
          color: #edeadf;
        }
  
        
      }
    }
    .menu-boton{
      display: none;
      padding: 1em;
      >i{
        font-size: 1.5em;
        color: var(--Color4);
        cursor: pointer;
      }
    }
    }
    .nav-despl{
      position:fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1500;
      background-color: var(--Color1);
      >ul{
        margin-right: 4em;
        width: calc(50vw - 4em);
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        >li{
          width: auto;
          height: 100%;
          list-style: none;
          display: grid;
          place-content: center;
          >a::before{
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #edeadf;
              bottom: 0px;
              left: 0;
              transform-origin: right;
              transform: scaleX(0);
              transition: transform .2s ease-in-out;
            }
          >a:hover::before{
            transform: scaleX(1);
            transform-origin: left;
          }
          >a{
            width: auto;
            padding: 5px;
            position: relative;
            text-decoration: none;
            color: #edeadf;
            font-family: var(--font-Inconsolata);
            font-weight: 600;
            transform: translateX(0px);
            transition: transform,color .2s ease-in-out;
          }
          >a:hover{
            transform: translateX(0px);
            color: #edeadf;
          }
    
          
        }
      }
      }
  }
  
}

@media screen and (max-width: 767px) {
  .nav{
    .nav-container{
      position:fixed;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    z-index: 1000;
    background-color: var(--Color1);
    >ul{
    margin-right: 4em;
    width: calc(50vw - 4em);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    >li{
      width: auto;
      height: 100%;
      list-style: none;
      display: none;
      place-content: center;
      >a::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #edeadf;
          bottom: 0px;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform .2s ease-in-out;
        }
      >a:hover::before{
        transform: scaleX(1);
        transform-origin: left;
      }
      >a{
        width: auto;
        padding: 5px;
        position: relative;
        text-decoration: none;
        color: #edeadf;
        font-family: var(--font-Inconsolata);
        font-weight: 600;
        transform: translateX(0px);
        transition: transform,color .2s ease-in-out;
      }
      >a:hover{
        transform: translateX(0px);
        color: #edeadf;
      }

      
    }
  }
    .menu-boton{
      display: flex;
      >i{
        font-size: 1.5em;
        color: var(--Color4);
        cursor: pointer;
      }
    }
    }
    .nav-despl{
      position:fixed;
      margin-top: 3em;
      top: 0;
      left: 100%;
      width: 100%;
      height: calc(100% - 3em);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1500;
      background-color: #23252ee3;
      transition: left .3s ease-in-out;
      >ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1em;
        >li{
          list-style: none;
          >a{
            position: relative;
            text-decoration: none;
            color: #edeadf;
            font-family: var(--font-Inconsolata);
            font-weight: 600;
            font-size: 1.5em;
          }
    
          >a:hover{
            text-decoration:underline;
            color: var(--Color4);
          }
        }
      }
      }

      .activo{
        display: flex;
        top: 0;
        left: 0;
      }
  }
  
}